<div class="container-fluid w-50">
    <h2 class="text-center">Transaction History Screen</h2>
    <div class="row p-1 border border-dark">
        <div class="col-1"><img src="../../assets/images/left-arrow.png" class="arrow"></div>
        <div class="col-1 image_A"><img src="../../assets/images/A-image.png" class="Aimage"></div>
        <div class="col-3">
            <div class="row admin">{{details.username}}</div>
            <div class="row phone">{{"+91 "+details.mobile_no}}</div>
        </div>
    </div>
</div>
